/*load fonts */


@font-face{
	font-family: "Quan";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/Quan.eot");
	/* .. means go up one folder- only IE supports eot */

	src:url("../fonts/Quan.eot#iefix") format("embedded-opentype"),
		url("../fonts/Quan.woff2") format("woff2"),
		url("../fonts/Quan.woff") format("woff"),
		url("../fonts/Quan.ttf") format("truetype");
		/*older browsers do not accept modern fonts, so need to set for all cases,browsers  */
}